<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869700669146-cvtjhfl4c8ngbiuogh19hk78la7361f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869700669146-cvtjhfl4c8ngbiuogh19hk78la7361f5</string>
	<key>API_KEY</key>
	<string>AIzaSyB1IeaRwuFKuVDjspjp8pJctey6ZHuQxvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>869700669146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cameraAppCameron</string>
	<key>PROJECT_ID</key>
	<string>camera-app-174b2</string>
	<key>STORAGE_BUCKET</key>
	<string>camera-app-174b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869700669146:ios:858a833aed473b8b</string>
	<key>DATABASE_URL</key>
	<string>https://camera-app-174b2.firebaseio.com</string>
</dict>
</plist>